<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

<body>
	<%- partial('_partial/header.ejs') %>
	<%# partial('_partial/sidebar.ejs') %>

	<%- partial('_partial/toc.ejs') %>
	

	<!-- 引入正文 -->
	<div id="content">

		<%- body %>
	</div>
	<% if(page.layout != "about"){ %>
	<%- partial('_partial/footer.ejs') %>
	<% } %>
	<%- partial('_partial/totop') %>
</body>

<script type="text/javascript"> 
	const options = {
	  bottom: '64px', // default: '32px'
	  right: 'unset', // default: '32px'
	  left: '32px', // default: 'unset'
	  time: '0.5s', // default: '0.3s'
	  mixColor: '#fff', // default: '#fff'
	  backgroundColor: '#fff',  // default: '#fff'
	  buttonColorDark: '#100f2c',  // default: '#100f2c'
	  buttonColorLight: '#fff', // default: '#fff'
	  saveInCookies: false, // default: true,
	  label: '🌓', // default: ''
	  autoMatchOsTheme: true // default: true
	}
	new Darkmode(options).showWidget();
</script>

</html>