<!DOCTYPE html>
<html lang="en">
    <%- partial('_partial/head') %>

    <body>
        <%- partial('_partial/header.ejs') %> <%#
        partial('_partial/sidebar.ejs') %> <%- partial('_partial/toc.ejs') %>

        <!-- 引入正文 -->
        <div id="content">
            <div id="index"><%- body %></div>
        </div>
        <% if(page.layout != "about"){ %> <%- partial('_partial/footer.ejs') %>
        <% } %> <%- partial('_partial/totop') %>
    </body>

    <% if(page.layout != "about"){ %>
    <script type="text/javascript">
        //todo
    </script>
    <% } %>
</html>

<script type="text/javascript">
      let filename_url = {};

      <% for(var i = 0 ;i < site.posts.length; i++) {%>
      <% let name = site.posts.data[i].source.split("/")[site.posts.data[i].source.split("/").length-1]; %>
     key = "<%= name.substring(0, name.length-3); %>";
    value = "<%= site.posts.data[i].path %>";
    filename_url[key] = value
      <% } %>
</script>
